body {
    background-color: rgb(0, 247, 255);
}

h1{
    color: rgb(220, 20, 20);
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}